@font-face {
  font-family: Oddval Variable;
  src: url("https://garet.typeforward.com/assets/fonts/campaigns/OddvalVariable-VariableVF.woff2")
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text {
  margin-top: -85px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  color:white;
  font-size: 60pt;
}


.content-container {
  text-align: center;
  margin-top: 5%;

}

.text-line {
  text-align: center;
  font-variation-settings: "wght" 100, "ital" 0;
  font-family: Oddval Variable;
  font-size: 8.6vh;
  line-height: 80%;
  color: #ffffff;
  white-space: nowrap;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: change;
  transition-timing-function: ease;

  
}
.text-line:nth-child(1) {
  animation-delay: 0.3s;
}
.text-line:nth-child(2) {
  animation-delay: 0.6s;
}
.text-line:nth-child(3) {
  animation-delay: 0.9s;
}
.text-line:nth-child(4) {
  animation-delay: 1.2s;
}
.text-line:nth-child(5) {
  animation-delay: 1.5s;
}
.text-line:nth-child(6) {
  animation-delay: 1.8s;
}
.text-line:nth-child(7) {
  animation-delay: 2.1s;
}
.text-line:nth-child(8) {
  animation-delay: 2.4s;
}
.text-line:nth-child(9) {
  animation-delay: 2.7s;
}
.text-line:nth-child(10) {
  animation-delay: 3s;
}
@keyframes change {
  0% {
    font-variation-settings: "wght" 100, "ital" 0;
 }
  50% {
    font-variation-settings: "wght" 900, "ital" 0;
 }
  100% {
    font-variation-settings: "wght" 100, "ital" 0;
 }
}

.logo {
  width: 70vw; 
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 0;
}

.dimensioni-logo {
  width: 26.9vw;
  height: auto;
}


.sito1 {
margin-right: 10vh;
}



*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.dflex{
  display:flex;
  justify-content: center;
  align-items: center;
}

.container{
  position:relative;
  display: flex;  
  width:100%;
  height:100vh;  
  flex-direction: column;
}
.content_wrapper{
  @extend .dflex; 
  width:100%;
  height:calc(100vh - 60px );  
}
header{
  @extend .dflex;
  justify-content: flex-end;
  width:100%;
  height:58px;
  border-bottom:0px solid #bdbdbd;
  padding:0 50px;
  z-index: 1;
  .menu{
    width:58px;
    height:58px;
    z-index: 1;
    @extend .dflex;
    cursor:pointer;
  }
}
.menu_container{
  z-index: 1;
  position:absolute;
  width:100%;
  height:100%;
  background-color:#000;
  color:#fff;
  @extend .dflex;
  flex-direction: column;
  a{
      z-index: 1;
    display:inline-flex;
    color:#ffffff;
    text-decoration: none;
    height:80px;
    overflow: hidden;
    font-size:2vw;
    @media(max-width:768px){
      font-size:22px;
    }
    text-transform: uppercase;
    +a{
      margin-top:1vw;
    }
  }
   a:focus {color:#FE006B}


  .btn_close{
    @extend .dflex;
    width:58px;
    height:58px;
    color:#ffffff;
    border-radius: 58px;
    position:absolute;
    top:20px;
    right:20px;
    z-index:2;
    cursor:pointer;
    font-size:18px;
  }
}

.fa-bars {
  color: #fff;
scale: 150%;
margin-top: 40px;
margin-left: 60px;
}

// Cursore

.cursore {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}


@media screen and (orientation: portrait) {
  .text-line {
    text-align: center;
    font-variation-settings: "wght" 100, "ital" 0;
    font-family: Oddval Variable;
    font-size: 10.9vw;
    line-height: 80%;
    color: #ffffff;
    white-space: nowrap;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: change;
    transition-timing-function: ease;
  }

  .text {
    margin-top: -10vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    color:white;
    font-size: 60pt;
  }

  .logo {
    width: 70vw; 
    height: auto;
    display: flex;
    justify-content: center;
    z-index: 0;
    margin-top: 15vh;
  }
  
  
    .dimensioni-logo {
      width: 70vw;
      height: auto;
    }

}

  @media screen and (orientation: landscape) {

    .text-line {
      text-align: center;
      font-variation-settings: "wght" 100, "ital" 0;
      font-family: Oddval Variable;
      font-size: 5.9vw;
      line-height: 80%;
      color: #ffffff;
      white-space: nowrap;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-name: change;
      transition-timing-function: ease;
    }
  
    .text {
      margin-top: 1vw;
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      color:white;
      font-size: 60pt;

    }


  .logo {
  width: 70vw; 
  height: auto;
  display: flex;
  justify-content: center;
  z-index: 0;
  margin-top: 8vh;
}


  .dimensioni-logo {
    width: 37vw;
    height: auto;
  }
  
    
}