@font-face {
  font-family: Oddval Variable;
  src: url("https://garet.typeforward.com/assets/fonts/campaigns/OddvalVariable-VariableVF.woff2")
}

.container-fluid {
  text-align: center;
}

.nome-sito {
text-align: end;
margin-bottom: 10px;
  
}

.content-container {
  text-align: center;
  margin-top: 5%;

}
.text-line {
  text-align: center;
  font-variation-settings: "wght" 100, "ital" 0;
  font-family: Oddval Variable;
  font-size: 10vh;
  line-height: 80%;
  color: #ffffff;
  white-space: nowrap;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: change;
  transition-timing-function: ease;
  
}
.text-line:nth-child(1) {
  animation-delay: 0.3s;
}
.text-line:nth-child(2) {
  animation-delay: 0.6s;
}
.text-line:nth-child(3) {
  animation-delay: 0.9s;
}
.text-line:nth-child(4) {
  animation-delay: 1.2s;
}
.text-line:nth-child(5) {
  animation-delay: 1.5s;
}
.text-line:nth-child(6) {
  animation-delay: 1.8s;
}
.text-line:nth-child(7) {
  animation-delay: 2.1s;
}
.text-line:nth-child(8) {
  animation-delay: 2.4s;
}
.text-line:nth-child(9) {
  animation-delay: 2.7s;
}
.text-line:nth-child(10) {
  animation-delay: 3s;
}
@keyframes change {
  0% {
    font-variation-settings: "wght" 100, "ital" 0;
 }
  50% {
    font-variation-settings: "wght" 900, "ital" 0;
 }
  100% {
    font-variation-settings: "wght" 100, "ital" 0;
 }
}


.oggetto {
  text-align: center;
}

.logo {
  justify-content: center;
}